<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
      <!-- 
        Path where the messages are going to be stored. The following tokens can be used:

        [%SERVERNAME%]  - Name of the server from accounts.xml
        [%USERNAME%]    - Username of the account from accounts.xml
        [%DAY%]         - Double digit day the message was sent
        [%MONTH%]       - Double digit month the message was sent
        [%YEAR%]        - Full four digit year the message was sent
        [%FROM%]        - Sender's email address 
        
        Note: if the server does not return a date the message has been sent, the current
              system time is used
      -->
      <add key="MailPath" value="C:\tmp\mail\[%SERVERNAME%]\[%YEAR%]-[%MONTH%]-[%DAY%]"/>
      
      <!-- 
        Indicates whether to overwrite existing files or make the filenames unique when a file
        already exists.
        
        true - The files are overwritten 
               (ie. if C:\tmp\whatever.jpg already exists, this will be overwritten with the new version
        false - The new filename is made unique and the old file stays intact
               (ie. if C:\tmp\whatever.jpg already exists, the version of the file from the server will 
                    be C"\tmp\whatever_a2706c4d-7957-4d6c-89e9-b3d1ac892f57.jpg)
         -->
      <add key="OverwriteExistingFiles" value="true"/>
      
      <!-- Indicates whether the messages are marked as Seen on the IMAP server when the messages
           are enumerated (handy for testing) -->
      <add key="MarkMessagesAsSeen" value="false"/>
      
      <!-- Full path to the filename that holds the account information -->
      <add key="AccountConfigurationFileName" value=".\accounts.xml"/>
    </appSettings>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

</configuration>